<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/_static/bootstrap.css">
    <title>{% block title %}My Lektor Project{% endblock %}</title>
  </head>
  <body>
    {% block body %}
    {% endblock %}
    <script src="/_static/bootstrap.js"></script>
  </body>
</html>